@font-face {
    font-family: 'Saira Stencil One';
    src: url('SairaStencilOne-Regular.eot');
    src: url('SairaStencilOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('SairaStencilOne-Regular.woff2') format('woff2'),
         url('SairaStencilOne-Regular.woff') format('woff'),
         url('SairaStencilOne-Regular.ttf') format('truetype'),
         url('SairaStencilOne-Regular.svg#SairaStencilOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

