@font-face {
    font-family: 'Saira Stencil One';
    src: url('SairaStencilOne-Regular.woff2') format('woff2'),
         url('SairaStencilOne-Regular.woff') format('woff'),
         url('SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

